<header id="top-header">
	<div class="row">
		<div id="marginzero-logo"></div>
	</div>
	<div class="row title">
		<h1 class="site-title"><%= Setting['site.title'] %></h1>
	  	<% if Setting['site.subtitle'] %><h3 class="site-subtitle"><%= Setting['site.subtitle'] %></h3><% end %>
	</div>
</header>

<section id="post-list">
  <div class="row">
	  <% if @posts.count < 1 %>
		<div class="no-posts">
		  <h1>There are no posts here</h1>
		  <h3 class="subtitle">Why not go add one and come back?</h3>
		</div>
	  <% else %>
		<% @posts.each do |p| %>
			<%= link_to show_post_path(slug: p.slug), class: 'post_anchor' do %>
				<div id="<%= "post-#{p.id}" %>" class="post-list post small-12 medium-10 medium-centered columns">
				  <div class="post-wrap">
					<div class="time-ago"><%= time_ago_in_words(p.created_at) %> ago</div>
					<h2 class="post-title"><%= p.title %></h2>
					<div class="post-content">
					  <%== p.excerpt %>
					</div>
				  </div>
				</div>
			<% end %>
		<% end %>
	  <% end %>
  </div>
</section>