<!DOCTYPE html>
<html lang="en">
  <head>
	<title><%= content_for?(:title) ? "#{Setting['site.title']} - #{yield(:title)}" : Setting['site.title'] %></title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Social Meta Tags -->
	<meta property="og:title" content="Chris Watson - Designer / Developer" />
	<meta property="og:url" content="http://cwatsondev.com" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="22 year old designer, developer, and entrepeneur Chris Watson's personal portfolio." />
	<meta property="og:image" content="http://cwatsondev.com/images/social-image.jpg" />
	<meta property="fb:admins" content="1836384540" />

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="http://cwatsondev.com">
	<meta name="twitter:creator" content="@dev0urer">
	<meta name="twitter:title" content="Chris Watson - Designer / Developer">
	<meta name="twitter:description" content="22 year old designer, developer, and entrepeneur Chris Watson's personal portfolio.">
	<meta name="twitter:image" content="http://cwatsondev.com/images/social-image.jpg">
	<!-- End Social Meta Tags -->

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<script src="https://use.typekit.net/wor0vra.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	<%= disqus_init %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  	<%= yield %>

	<%= render 'layouts/footer' %>
  </body>
</html>
